{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_styles %}
    {% endblock extra_styles %}
</head>
<body>

    {% include "partials/header.html" %}

    {% block content %} 
    something
    {% endblock content %}

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>